<?xml version="1.0"?>
<launch>
    <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"  output="screen"/>

    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" launch-prefix="xterm -e"/>    
    
    <node pkg="rosservice" type="rosservice" name="createnewturtle" args="call --wait /spawn 0.0 1.0 0.0 'turtle2'" />
    
    
    
</launch>